:root {
    --black: #000000;
    --drkst: #464646;
    --drk:  #236b20;
    --brite: #60ff58;
    --med: #818181;
    --lite: #c5c5c5;
    --litefade: #c5c5c583;
    --white: #ffffff;
}

body {
    display: block;
    background-color: var(--white);
    text-align: center;
    font-size: 18px;
    background-image: url("/Users/jacquelinehodgson/Desktop/UTorCoding/Homework/Javascript-101-Quiz/assets/images/Deposit_Imgs_AbstractPrgmCode.jpg");
    background-repeat: no-repeat;
    background-size: 1800px 900px;
    backdrop-filter: brightness(160%) blur(4px) saturate(30%) opacity(110%);
}

#header {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    margin-bottom: 20px;
}

#high-scores {
    color: var(--brite);
    text-decoration: none;
    font-weight: bolder;
    margin: 20px 0px 0px 20px;
    text-shadow: 0px 0px 20px var(--black);
}

#high-scores:hover {
    color: var(--white);
    text-shadow: 0px 0px 15px var(--brite);
}

#timer-label {
    color: var(--brite);
    font-weight: bolder;
    text-shadow: 0px 0px 20px var(--black);
    padding: 20px 20px 0px 0px;
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: space-around;
}

#quiz-prompt {
    position: absolute;
    top: 25%;
    margin-top: 150px;
    text-align: center;
    border-color: var(--brite);
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    box-shadow: 0px 0px 25px #57ec4fb4;
    padding: 50px 15px 50px 15px;
    max-width: 800px;
    background-color: var(--litefade);
}

#prompt-title {
    font-size: 24px;
    font-weight: bolder;
    text-shadow: 0px 0px 15px var(--drkst);
}

p {
    text-shadow: 0px 0px 15px var(--drkst);
}

#start {
    background-color: var(--med);
    box-shadow: 0px 0px 10px var(--black);
    border-color: var(--med);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 4px 20px 4px 20px;
    font-weight: bold;
    margin-top: 10px;
}

#start:hover {
    box-shadow: 0px 0px 10px var(--brite);
    color: var(--white);    
}

.quiz-content {
    position: absolute;
    top: 25%;
    margin-top: 150px;
    text-align: center;
    border-color: var(--brite);
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    box-shadow: 0px 0px 25px #57ec4fb4;
    padding: 50px 15px 50px 15px;
    max-width: 800px;
    background-color: var(--litefade);
}

.questions {
    font-weight: bolder;
    text-shadow: 0px 0px 15px var(--drkst);
}

.answer-group {
    margin-top: 40px;
}

.answer {
    background-color: var(--med);
    box-shadow: 0px 0px 10px var(--black);
    border-color: var(--med);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-right: 5px;
    margin-left: 5px;
    font-weight: bold;
}

.answer:hover {
    box-shadow: 0px 0px 10px var(--brite);
    color: var(--white);    
}

.answer-prompt {
    font-weight: bolder;
    color: var(--brite);
    text-shadow: 0px 0px 10px var(--drk);
    padding-top: 20px;
}

#reset {

}

#clear {

}