:root {
    --black: #000000;
    --drkst: #464646;
    --drk:  #236b20;
    --brite: #60ff58;
    --med: #818181;
    --lite: #c5c5c5;
    --litefade: #c5c5c5a2;
    --white: #ffffff;
}

body {
    display: block;
    text-align: center;
    font-size: 18px;
    background-image: url("https://raw.githubusercontent.com/jacih/Javascript-101-Quiz/main/assets/images/Deposit_Imgs_AbstractPrgmCode_RESIZED.jpg");
    background-repeat: no-repeat;
    background-size: 1800px 900px;
    backdrop-filter: brightness(160%) blur(4px) saturate(30%) opacity(110%);
}

#header {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    margin-bottom: 20px;
}

#scoresBtn {
    color: var(--brite);
    background: none;
    text-decoration: none;
    font-weight: bolder;
    margin: 20px 0px 0px 20px;
    text-shadow: 0px 0px 20px var(--black);
}

#scoresBtn:hover, #quiz-home:hover {
    background: none;
    color: var(--white);
    text-shadow: 0px 0px 15px var(--brite);
}

#timer-label {
    color: var(--brite);
    font-weight: bolder;
    text-shadow: 0px 0px 20px var(--black);
    padding: 20px 20px 0px 0px;
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: space-around;
}

.quiz-content, #quiz-prompt, #quiz-results, #scores-card {
    position: absolute;
    top: 25%;
    margin-top: 150px;
    text-align: center;
    border-color: var(--brite);
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    box-shadow: 0px 0px 25px #57ec4fb4;
    padding: 50px 15px 50px 15px;
    max-width: 800px;
    background-color: var(--litefade);
}

h1 {
    font-size: 24px;
    color: var(--black);
    font-weight: bolder;
    text-shadow: 0px 0px 15px var(--brite);
    padding-bottom: 5px;
    text-decoration: underline;
    text-decoration-color: var(--brite);    
}

p {
    text-shadow: 0px 0px 15px var(--drkst);
}

button {
    background-color: var(--med);
    box-shadow: 0px 0px 10px var(--black);
    border-color: var(--med);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-right: 5px;
    margin-left: 5px;
    font-weight: bold;
}

button:hover {
    box-shadow: 0px 0px 10px var(--brite);
    color: var(--white);    
}

#start {
    margin-top: 25px;
    margin-bottom: -8px;
    font-size: 18px;
    padding: 5px 20px 5px 20px;
    border-radius: 30px;
}

.questions {
    font-weight: bolder;
    text-shadow: 0px 0px 15px var(--brite);
}

.answer-group {
    margin-top: 30px;
}

.answer-prompt {
    font-weight: bolder;
    font-size: 20px;
    color: var(--brite);
    text-shadow: 0px 0px 10px var(--drk);
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: -10px; 
}

#quiz-results p { 
    font-weight: bold;
    font-size: 20px;
}

#quiz-results label { 
    font-weight: bolder;
    text-decoration: underline;
    text-shadow: 0px 0px 15px var(--drkst);
    margin-top: 5px;
}

#res-form-btns {
    margin-top: 20px;
    margin-right: 10px;
}

nav {
   padding-top: 15px;
   padding-bottom: 20px; 
}

#quiz-home {
    color: var(--brite);
    font-size: 20px;
    text-decoration: none;
    font-weight: bolder;
    margin: 20px 0px 0px 20px;
    text-shadow: 0px 0px 20px var(--black);
}

#highscores-list {
    text-align: left;
    margin-left: 10px;
}

#highscores-list ol {
    margin-bottom: 10px;
}

#clearBtn {
    background-color: var(--med);
    box-shadow: 0px 0px 10px var(--black);
    border-color: var(--med);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin-left: 50px;
    font-weight: bold;
}
